{erl_opts, [nowarn_export_all]}.
{deps_dir, "deps"}.
{deps, [{kvs, ".*", {git, "https://github.com/zencrypted/kvs", {tag, "main"}}},
        {syn, "2.1.0"}]}.
{shell, [{config, "sys.config"}, {apps, [rocksdb,kvs,syn,bpe]}]}.
{plugins, [rebar3_hex]}.
{ct_opts, [{sys_config, "sys.config"}]}.
{overrides, [
    {add, rocksdb, [
        {pre_hooks, [
%           {compile, "patch -N -p1 < ../../../../patches/rocksdb-snappy.patch || true"}
        ]}
   ]}
]}.
{format, [
    {files, ["src/*.erl", "test/*.erl"]},
    {formatter, otp_formatter},
    {options, #{ line_length => 108,
                 paper => 250,
                 spaces_around_fields => false,
                 inlining => all,
                 inline_clause_bodies => true,
                 inline_expressions => true,
                 inline_qualified_function_composition => true,
                 inline_simple_funs => true,
                 inline_items => all,
                 inline_fields => true,
                 inline_attributes => true
                 }}]}.
